.btn{
  margin-top: 1%;
}
.hiddenResults{
  display: none;
}
.jumbotron{
  /*background-color: #f7e0af;*/
  background-color: white;
  color: black;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}
.col-md-9{
  margin-left: 5px;
}
#left-col{
  opacity: 0.5;
  background-color: black;
  color: white;
  text-align: left;
  height: auto;
}
#left-col h1{
  font-size: 30px;
  font-size-adjust: 0.5;
}
#left-col h2{
  font-size: 20px;
  font-size-adjust: 0.5;
}
#left-col h3{
  font-size: 14px;
  font-size-adjust: 0.5;
}
#left-col a{
  font-size: 14px;
  font-size-adjust: 0.5;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
  margin-bottom: 0.5%;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
#subrow1{
  padding-left: 5%;
  opacity: 0.7;
  background-color: black;
  color: white;
  height: auto;
}
#subrow2{
  padding-left: 5%;
  opacity: 0.7;
  background-color: black;
  color: white;
  height: auto;
}
#subrow3{
  padding-left: 5%;
  opacity: 0.7;
  background-color: black;
  color: white;
  height: auto;
}
/*#main-cols{
  padding-left: 5%;
  opacity: 0.5;
  background-color: black;
  color: white;
  height: auto;
}*/
#usrInput{
  color: black;
}
/*#row1{
}*/
#row2{
  width: 108.5%;
  margin: 0;
}
body{
  background-image: url("../img/brickBg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Avenir;
}
.ping-special, .pong-special, .ping-pong-specialIn, .ping-pong-specialOut{
  width: 50px;
  height: 50px;
}
