form{
  padding-bottom: 2%;
}
.btn{
  margin-top: 1%;
}
.hiddenResults{
  display: none;
}
/*#row1{
  height: 110%;
}*/
.jumbotron{
  /*background-color: #f7e0af;*/
  background-color: white;
  color: black;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  margin-left: 1%;
  padding: 0;
}
/*.col-md-9{
  margin-left: 5px;
}*/
#left-col{
  opacity: 0.5;
  background-color: black;
  color: white;
  text-align: left;
  height: auto;
}
#left-col h1{
  font-size: 30px;
  font-size-adjust: 0.5;
}
#left-col h2{
  font-size: 20px;
  font-size-adjust: 0.5;
}
#left-col h3, #left-col a{
  font-size: 14px;
  font-size-adjust: 0.5;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
  /*margin-bottom: 2%;*/
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
[class^="col-"]{
  margin-bottom: 2%;
  margin-left: 1%;
}
#subrow1{
  padding-left: 5%;
  opacity: 0.7;
  background-color: black;
  color: white;
  height: auto;
}
#subrow2, #pingpongDrag, #pingpongDrop{
  padding-left: 5%;
  opacity: 0.7;
  background-color: black;
  color: white;
  height: auto;
  margin-top: 18px;
  padding-top: 1%;
}
#pingpongDrag{
  padding-bottom: 1%;
}
#subrow3{
  padding-left: 5%;
  opacity: 0.7;
  background-color: black;
  color: white;
  height: auto;
  margin-top: 4%
}
#main-cols{
  padding-left: 0;
}
#usrInput{
  color: black;
}
#row2{
  width: 108%;
  margin-top: 0;
}
body{
  background-image: url("../img/brickBg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Avenir;
}
.ping-special, .pong-special, .ping-pong-specialIn, .ping-pong-specialOut{
  width: 50px;
  height: 50px;
}
#header-image1, #move-me{
  width: 50px;
  height: 50px;
  float: left;
}
#header-image2{
  width: 50px;
  height: 50px;
  float: right;
}
.header-inline h1{
 position: relative;
}
#destination{
  width: 110px;
  height: 110px;
}
#snitch{
  width: 50%;
  height: auto;
  display: none;
}
#snitch-text{
  display: none;
}
#tryAgainBtn{
  margin-left: 2%;
}
